.services{
    margin: 2% auto;
    font-size: 1.1rem;
    width: 90%;
    padding: 15px;
    text-align: justify;
}
.services h3{
    text-align: start;
}
@media screen and (max-width: 768px){
    .services > p{
        padding-left: 15px;
    }
}