
.slick-slider{
    width: 90%;
}
.content{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    height: 100% !important;
    min-height: 93vh !important;
}
.slick-slider img{
    width: 100%;
}
.content > div {
    width: 90%;
    height: 100%;
}
