.nav_menu{
    width: 100%;
    height:60px !important;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    color: #292929;
    box-shadow: 0 3px 10px 0 rgba(51,51,51,.2);
    margin-bottom: 1%;
}
.nav_menu__catalog{
    width: 100%;
    height: 100%;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    justify-content: space-around;
}
.nav_menu__catalog a {
    width: 100px;
    display: flex;
    align-items: center;
    position: relative;
}
.nav_menu__catalog a > li{
    transition: 0.5s all;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.nav_menu__catalog > a > li{
    display: flex;
    justify-content: center;
}
.nav_menu__catalog li span{
    height: 100%;
    display: flex;
}
.nav_menu__catalog li i {
    color: #292929;
    margin-right: 4%;
}
.menu__catalog a > li:hover{
    cursor: pointer;
    color: #1AA6B2;
    padding-left: 3%;
}
.menu_catalog {
    margin: 0;
    padding: 0;
    list-style: none;
}
.menu_catalog li:hover {
    padding-left: 2%;
    color: #ffffff;
    background-color: darkgrey;
}
.menu_catalog {
    position: absolute;
    opacity: 1;
    left: -99999em;
    transition: 0.5s opacity;
    z-index: 3;
    width: 250px;
}
.nav_menu__catalog a:hover{
    background-color: rgb(218, 218, 218);
}

.nav_menu__catalog a:hover .menu_catalog {
    opacity: 1;
    left: 7%;
    top: 100%;
}
.menu_catalog a{
    width: 100%;
    text-decoration: none;
}
.menu_catalog a li{
    width: 100%;
    border: 1px solid #e5e5e5;
    border-top: none ;
    padding: 5% 0 5% 7%;
    background-color: #ffffff;
}
.menu_catalog a:first-child{
    border-top: 1px solid #e5e5e5;
}

.navbar-default{
    display: none;
}
@media screen and (max-width: 768px){
    .navbar-default{
        display: flex;
    }
    #iconMenu{
        width: 30px;
        height: 30px;
        background-color: #ffffff;
        border: none;
        background-image: url(../../../img//icon-menu.ico);
        background-size: 100% 100%;
        outline: none;
        margin-left: 15px;
    }
    #xMenu{
        width: 30px;
        height: 30px;
        background-color: #ffffff;
        border: none;
        background-image: url(../../../img/icon_x.ico);
        background-size: 100% 100%;
        outline: none;
        margin-left: 15px;
    }
    .nav_menu{
        display: none;
    }
    .navbar {
        position: absolute;
        top: 37px;
        left: 0;
        padding: 0;
        z-index: 5;
    }
    .navbar-collapse {
        background-color: #ffffff;
        width: 100vw;
    }
    .navbar-nav > a > li, .dropdown-toggle{
        height: 50px;
        padding-left: 10px;
        display: flex;
        align-items: center;
        height: 80px;
    }
    .navbar-nav > a {
        height: 80px;
    }
    .dropdown li {
        width: 100%;
    }
    .navbar-nav .dropdown-menu {
        padding: 0;
        border: none;
        margin: 0;
        background-color: rgb(255, 247, 247);
        font-size: 24px;
    }
    .navbar-nav .dropdown-menu  a {
        color: rgb(53, 53, 53);
    }
    .dropdown a li {
        padding-left: 50px;
    }
    .navbar>.container, .navbar>.container-fluid {
        padding: 0;
    }
    .navbar-nav > a {
        display: flex;
        align-items: center;
        padding-left: 10px;
        color: rgb(53, 53, 53);
    }
    .navbar-nav > a > div{
        width: 20px;
        height: 20px;
        background-size: 100% 100%;
    }
    .navbar-nav > a:nth-child(2) > div{
        background-image: url(../../../img/icon_service.ico);
    }
    .navbar-nav > a:nth-child(3) > div{
        background-image: url(../../../img/icon_about.ico);
    }
    .navbar-nav > a:nth-child(4) > div{
        background-image: url(../../../img/icon_questions.ico);
    }
    .footer {
        height: 55px !important;
    }
    .navbar-nav {
        font-size: 28px;
        background-color: rgb(247, 242, 242);
    }
    .dropdown  li > div{
        width: 20px;
        height: 20px;
        background-image: url(../../../img/icon-menu.ico);
        background-size: 100% 100%;
        margin-right: 10px;
    }
}