.header_wrapper{
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
}
.header{
    width: 100%;
    height: 100px;
    background: radial-gradient(at top, rgb(235, 235, 235),white);
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid #f1f1f1;
}
.header_logo{
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
} 
.header_logo span{
    color: rgb(204, 0, 0);
}
.header_search{
    width: 50%;
    height: 50px;
    position: relative;
    display: flex;
    align-items: center;
}
.header_search input{
    width: 83%;
    height: 40px;
    border: none;
    border-radius:7px;
    padding: 2% 13% 2% 2%;
    border: 1px solid rgb(226, 226, 226);
    margin-right: 2%;
}
.header .header_icon{
    width: 10%;
    height: 100%;
    position: absolute;
    right: 17%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-search{
    color: rgb(134, 134, 134);
}
.header_basket, .personal_area{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.header_basket a{
    text-align: center;
    color: black;
}
.header_basket p, .personal_area p {
    margin: 0;
    font-size: 0.7rem;
    color: rgb(83, 82, 82);
}
.header_search a{
    width: 15%;
    height: 100%;
    display: flex;
    align-items: center;
}
.header_search a button{
    width: 70px;
    height: 40px;
    border: 1px solid rgb(226, 226, 226);
    border-radius: 7px;
    background-color: #ececec;
}
.header_search a button:hover{
    background-color: #b9b9b9;
    transition: 0.5s all;
}
.fa{
    display: flex !important;
    justify-content: center;
}
.personal_area:hover{
    cursor: pointer;
    text-decoration: none;
}
.personal_area p:hover{
    cursor: pointer;
    text-decoration: none;
}
.fa-user{
    color: rgb(83, 82, 82);
    
}
a:hover{
    text-decoration: none;
}
.fa-search:hover{
    cursor: pointer;
}
.mybasket{
    width: 35px;
    height: 35px;
    background-image: url(../../img/basket.ico) ;
    background-size: 100% 100%;
}
.mybasket div{
    width: 15px;
    height: 15px;
    position: relative;
    left: 100%;
    top: -8px;
    border-radius: 50%;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    color: #ffffff;
    font-size: 0.5rem;
}
.google_icon{
    width: 35px;
    height: 35px;
    background-image: url(../../img/google_icon.ico);
    background-size: 100% 100%;
}
.user_icon{
    width: 35px;
    height: 35px;
    background-image: url(../../img/user_icon.ico);
    background-size: 100% 100%;
}
.user_area{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.user_area p {
    margin: 0;
    font-size: 0.7rem;
    color: rgb(83, 82, 82);
}
.user_menu {
    display: flex;
    width: 60px;
    align-items: center;
}
.user_menu span{
    color: rgb(83, 82, 82);
    margin-left: 5px;
}
.user_false{
    display: none;
}
.user_true{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 200px;
    height: 150px;
    background-color: #ffffff;
    position: absolute;
    top: 70px;
    border: 1px solid rgb(221, 221, 221);
    padding: 15px 10px;
    z-index: 1;
}
.user_true > div:first-child{
    border-bottom: 1px solid rgb(221, 221, 221);
    display: flex;
    justify-content: flex-end;
}
.user_true div{
    display: flex;
    padding: 0;
    padding: 10px 0;
}
.user_true  a{
    color: black;
    display: flex;
}
.product_in_basket {
    width: 20px;
    margin-right: 5px;
    height: 20px;
    background-image: url(../../img/basket.ico);
    background-size: 100% 100%;
}
.chat_icon{
    width: 20px;
    margin-right: 5px;
    height: 20px;
    background-image: url(../../img/chat_icon.ico);
    background-size: 100% 100%;
}
.star_icon{
    width: 20px;
    margin-right: 5px;
    height: 20px;
    background-image: url(../../img/star_icon.ico);
    background-size: 100% 100%;
}
.user_true div:hover{
    cursor: pointer;
    text-decoration: solid;
}
.user_menu:hover{
    cursor: pointer;
}
.product_in_favorites{
    width: 20px;
    margin-right: 5px;
    height: 20px;
    background-image: url(../../img/star_gold_icon.ico);
    background-size: 100% 100%;
}
.fa-star:hover, .fa-star-o:hover{
    cursor: pointer;
}
.header > i.fa-search {
    display: none !important;
}
@media screen and (max-width: 768px){
    .header_wrapper{
        width: 80% !important;
        position: relative;
        left: 169px;
    }
    .nav_menu{
        width: 100px !important;
        height: 50px !important;
        position: absolute;
        top: 28px;
        left: 40px;
        display: flex;
        flex-direction: column;
    }
    .nav_menu__catalog{
        display: none;
        flex-direction: column;
    }
    .nav_menu__catalog a {
        height: 50px;
        width: 100%;
        border-bottom: 1px solid rgb(196, 196, 196);
    }
    .nav_menu__catalog a:last-child {
        border: none;
    }
    .root{
        flex-direction: row !important;
    }
    .icon_menu{
        display: block;
        width: 100px;
        height: 50px;
        background-image: url(../../img/icon-menu.ico);
        background-size: 100% 100%;
    }
    .nav_menu:hover .nav_menu__catalog{
        display: flex;
        opacity: 1;
        width: 200px;
        background-color: #ffffff;
        position: relative;
        left: 15px;
    }
    .nav_menu:hover{
        height: 300px !important;
        z-index: 1;
    }

    .nav_menu__catalog > a > li {
        justify-content: flex-start;
        margin-left: 40px;
    }
    .header > div:last-child{
        order: 4;
    }
    .header > a{
        order: 2;
    }
    .header_search{
        position: absolute;
        left: -99999999em;
    } 
    .header .header_icon {
        right: 17%;
        justify-content: flex-end;
    }
    .header_basket{
        order: 3;
    }

    .header_icon{
        width: 100% !important;
    }
    .fa-search{
        font-size: xx-large !important;
    }
    .fa-search:hover .header_search input{
        display: flex;
        widows: 200px;
    }
    .header_logo {
        font-size: 50px;
    }
    .header_basket p, .personal_area p {
        font-size: 1.2rem;
    }
    .mybasket, .google_icon {
        width: 50px;
        height: 50px;
    }
    .header > i.fa-search {
        display: flex !important;
    }
    .header > i.fa-search:hover .header_search {
        left: 100px;
        top: 100px;
    }
    .content_info li {
        width: 90% !important;
    }
    .content_info h5 {
        margin-bottom: 20px !important;
    }
}