.footer{
    width: 100% !important;
    height: 100px !important;
    background-color: #3e4753;
    margin-top: 2%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}