.basket{
    width: 90%;
    height: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;


}
.basket > div:first-child{
    width: 100%;
    margin-top: 1%;
    order: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.car_in__basket{
    width: 90%;
    height: 150px;;
    display: flex;
    box-shadow: 0 3px 10px 0 rgba(51,51,51,.2);
    margin-bottom: 1%;
}

.img_in_basket{
    width: 185px;
    padding:  12px;
}
.car_in__basket img{
    width: 160px;
    height: 125px;
}
.do-order{
    width: 90%;
    height: 200px;
    margin-top: 1%;
    border-radius: 10px;
    padding: 9px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    order: 4;
}
.do-order span{
    font-weight: bold;
}
.info_car_basket{
    width: 100%;
    display: flex;
    padding: 12px 0;
    margin-left: 2%;
}
.info_car_basket > div:first-child{
    width: 68%;
}
.info_car_basket > div:last-child{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.clicer_basket{
    display: flex;
    justify-content: space-between;
    width: 60px;
    height: 40px;
}
.info_car_basket > div:last-child h5{
    height: 40px;
    width: 75px;
    text-align: center;
}
.clicer_basket > div:first-child{
    border: 1px solid #d5d5d5;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.clicer_basket > div:first-child:hover{
    cursor: pointer;
    opacity: 0.6;
    transition: 0.5s all;
}
.clicer_basket > div:last-child{
    border: 1px solid #d5d5d5;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.clicer_basket > div:last-child:hover{
    cursor: pointer;
    opacity: 0.6;
    transition: 0.5s all;
}
.remove_basket{
    background-color: royalblue;
    border: none;
    color: #ffffff;
    padding: 2%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.remove_basket:hover{
    background-color: rgb(106, 136, 228);
}
.do-order button{
    background-color: rgb(199, 48, 22);
    border: none;
    color: #ffffff;
    padding: 2%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(126, 77, 77, 0.808);
    width: 300px;
}
.do-order > div{
    width: 420px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.do-order > div h4, .do-order > div h5{
    width: 100%;
    text-align: center;
}
.order-empty{
    width: 70%;
    height: 380px;
    align-self: center;
    order: 2;
    position: relative;
    top: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-shadow: 3px 3px rgb(187, 185, 185), -1em 0 .4em rgb(187, 187, 187);
}
.order-empty h4{
    width: 90%;
}
.order-empty span{
    color: rgb(204, 0, 0);
}